<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:include="base :: header"/>
</head>
<body>
<th:block th:replace="base :: navbar"/>
<main role="main">
    <div class="jumbotron" style="text-align:center">
        <div class="container">
            <h1 class="display-3">Welcome to Train-Ticket System</h1>
            <p>Perform Search:</p>
            <a class="btn btn-primary btn-lg" href="/trips/search" role="button">Search</a>
        </div>
    </div>
</main>
</body>
<footer>
    <th:block th:replace="base :: footer"/>
</footer>
</html>